<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Количка | AgroDirect</title>

    <th:block th:replace="fragments/head-links :: headLinks"></th:block>
    <link rel="stylesheet" href="/vendors/fontawesome/css/all.min.css" />
</head>

<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>





    <div class="preloader">
        <div class="preloader__image"></div>
    </div>
    <!-- /.preloader -->


    <div class="page-wrapper">
        <div th:replace="~{fragments/header :: siteHeader}"></div>

        <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->

        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header-bg" style="background-image: url(/images/agri.jpg)">
            </div>
            <div class="container">
                <div class="page-header__inner">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a th:href="@{/}">Начало</a></li>
                        <li><span>/</span></li>
                        <li>Количка</li>
                    </ul>
                    <h2>Продукти в количката</h2>
                </div>
            </div>
        </section>

        <!--Start Cart Page-->
        <section class="cart-page">
            <div class="container">
                <div class="table-responsive">
                    <table class="table cart-table">

                        <div th:if="${errorMessage}" class="alert alert-danger">
                            <p th:text="${errorMessage}"></p>
                        </div>

                        <div th:if="${succeessMessage}" class="alert alert-danger">
                            <span th:text="${succeessMessage}"></span>
                        </div>
                        <thead>
                        <tr>
                            <th>Продукт</th>
                            <th>Цена</th>
                            <th>Количество</th>
                            <th>Общо</th>
                            <th>Премахни</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="cartItem : ${cartItems}">
                            <td>
                                <div class="product-box">
                                    <div class="img-box">
                                        <img th:src="@{${cartItem.productImageUrl}}" alt="Product Image"/>
                                    </div>
                                    <h3><a th:href="@{/product/{id}(id=${cartItem.productId})}" th:text="${cartItem.productName}">Product Name</a></h3>
                                </div>
                            </td>
                            <td>
                                <span th:text="${cartItem.price}">Price</span>
                            </td>

                            <td>
                                <form class="quantity-box" th:action="@{/cart/updateQuantity}" method="post">
                                    <input type="hidden" name="cartItemId" th:value="${cartItem.cartItemId}" />


                                    <div class="quantity-input-box">
                                        <button type="button" class="sub"><i class="fa fa-minus"></i></button>
                                        <input type="number" name="quantity" th:value="${cartItem.quantity}" id="quantity" min="1"
                                               max="${cartItem.productQuantity}" class="quantity-input"/>
                                        <button type="button" class="add"><i class="fa fa-plus"></i></button>

                                    </div>

                                    <button type="submit" class="update-button">Обнови</button>
                                </form>

                            </td>

                            <td>

                                <span th:text="${cartItem.totalPrice}">Total</span>
                            </td>

                            <td>
<!--                                <div class="cross-icon">-->
<!--                                    <i class="icon-close remove-icon" th:onclick="'removeProductFromCart(' + ${cartItem.cartItemId} + ')'" ></i>-->
<!--                                </div>-->
                                <form th:action="@{/cart/removeProduct}" method="post">
                                    <input type="hidden" name="cartItemId" th:value="${cartItem.cartItemId}" />
<!--                                    <button type="submit" class="btn btn-danger">Премахни</button>-->
                                    <button type="submit" class="icon-close remove-icon"></button>
                                </form>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>

                <div class="row">
                    <div class="col-xl-8 col-lg-7">
                        <!-- Optional Coupon Section -->
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <ul class="cart-total list-unstyled">
                            <li>
                                <span>Обща сума:</span>
                                <span class="cart-total-amount" th:text="${totalCartPrice}"></span>

                            </li>
                        </ul>
                        <div class="cart-page__buttons">
                            <div class="cart-page__buttons-1">
                                <a th:href="@{/products}" class="thm-btn">Продължи с пазаруването <i class="icon-right-arrow"></i></a>
                            </div>
                            <div class="cart-page__buttons-2">
                                <a th:href="@{/checkout}" class="thm-btn">Поръчай<i class="icon-right-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Cart Page-->


        <!--Site Footer Start-->
        <div th:replace="~{fragments/footer :: footer}"></div>
        <!--Site Footer End-->


    </div><!-- /.page-wrapper -->


    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="index.html" aria-label="logo image"><img src="/images/resources/logo-2.png" width="143"
                        alt="" /></a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:needhelp@packageName__.com">needhelp@agrion.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:666-888-0000">666 888 0000</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-facebook-square"></a>
                    <a href="#" class="fab fa-pinterest-p"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="icon-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->



    <script src="/vendors/jquery/jquery-3.6.0.min.js"></script>
    <script src="/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendors/jarallax/jarallax.min.js"></script>
    <script src="/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
    <script src="/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="/vendors/nouislider/nouislider.min.js"></script>
    <script src="/vendors/odometer/odometer.min.js"></script>
    <script src="/vendors/swiper/swiper.min.js"></script>
    <script src="/vendors/tiny-slider/tiny-slider.min.js"></script>
    <script src="/vendors/wnumb/wNumb.min.js"></script>
    <script src="/vendors/wow/wow.js"></script>
    <script src="/vendors/isotope/isotope.js"></script>
    <script src="/vendors/countdown/countdown.min.js"></script>
    <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/vendors/bxslider/jquery.bxslider.min.js"></script>
    <script src="/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="/vendors/vegas/vegas.min.js"></script>
    <script src="/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="/vendors/timepicker/timePicker.js"></script>
    <script src="/vendors/circleType/jquery.circleType.js"></script>
    <script src="/vendors/circleType/jquery.lettering.min.js"></script>
    <script src="/vendors/nice-select/jquery.nice-select.min.js"></script>




    <!-- template js -->
    <script src="/js/agrion.js"></script>
</body>

</html>