<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Начало | AgroDirect</title>
    <th:block th:replace="fragments/head-links :: headLinks"></th:block>
    <link rel="stylesheet" href="/vendors/fontawesome/css/all.min.css" />
</head>

<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>





    <div class="preloader">
        <div class="preloader__image"></div>
    </div>
    <!-- /.preloader -->


    <div class="page-wrapper">
        <div th:replace="~{fragments/header :: siteHeader}"></div>

        <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->

        <!--Main Slider Start-->
        <section class="main-slider clearfix">
            <div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "loop": true,
                "effect": "fade",
                "pagination": {
                "el": "#main-slider-pagination",
                "type": "bullets",
                "clickable": true
                },
                "navigation": {
                "nextEl": "#main-slider__swiper-button-next",
                "prevEl": "#main-slider__swiper-button-prev"
                },
                "autoplay": {
                "delay": 5000
                }}'>
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="image-layer"
                            style="background-image: url(/images/globalagriculture.jpg);"></div>
                        <!-- /.image-layer -->
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="main-slider__content">
                                        <p class="main-slider__sub-title">Свързваме фермери и потребители</p>
                                        <h2 class="main-slider__title">AgroDirect</h2>
                                        <div class="main-slider__btn-box">
                                            <a th:href="@{/about}" class="thm-btn main-slider__btn">
                                                Научи повече <i class="icon-right-arrow"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="image-layer"
                            style="background-image: url(/images/agri.jpg);"></div>
                        <!-- /.image-layer -->
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="main-slider__content">
                                        <p class="main-slider__sub-title">Свързваме фермери и потребители</p>
                                        <h2 class="main-slider__title">AgroDirect</h2>
                                        <div class="main-slider__btn-box">
                                            <a th:href="@{/about}" class="thm-btn main-slider__btn">
                                                Научи повече <i class="icon-right-arrow"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="image-layer"
                            style="background-image: url(/images/products-agri.jpg);"></div>
                        <!-- /.image-layer -->
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="main-slider__content">
                                        <p class="main-slider__sub-title">Свързваме фермери и потребители</p>
                                        <h2 class="main-slider__title">AgroDirect</h2>
                                        <div class="main-slider__btn-box">
                                            <a th:href="@{/about}" class="thm-btn main-slider__btn">
                                                Научи повече <i class="icon-right-arrow"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="swiper-pagination" id="main-slider-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="main-slider__nav">
                    <div class="swiper-button-prev" id="main-slider__swiper-button-next">
                        <i class="icon-right-arrow"></i>
                    </div>
                    <div class="swiper-button-next" id="main-slider__swiper-button-prev">
                        <i class="icon-right-arrow"></i>
                    </div>
                </div>

            </div>
        </section>
        <!--Main Slider End-->

        <!--Feature One Start-->
        <section class="feature-one">
            <div class="container">
                <div class="row">
                    <!--Feature One Single Start-->
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="feature-one__single">
                            <div class="feature-one__icon">
                                <span class="icon-farm"></span>
                            </div>
                            <div class="feature-one__content">
                                <h3 class="feature-one__title">Високи стандарти <br> за качество</h3>
                            </div>
                        </div>
                    </div>
                    <!--Feature One Single End-->
                    <!--Feature One Single Start-->
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="feature-one__single">
                            <div class="feature-one__icon">
                                <span class="icon-agriculture"></span>
                            </div>
                            <div class="feature-one__content">
                                <h3 class="feature-one__title">Услуги директно <br> от фермерите</h3>
                            </div>
                        </div>
                    </div>
                    <!--Feature One Single End-->
                    <!--Feature One Single Start-->
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="feature-one__single">
                            <div class="feature-one__icon">
                                <span class="icon-harvest"></span>
                            </div>
                            <div class="feature-one__content">
                                <h3 class="feature-one__title">Натурални и <br> здравословни продукти</h3>
                            </div>
                        </div>
                    </div>
                    <!--Feature One Single End-->
                </div>
            </div>
        </section>
        <!--Feature One End-->


        <!--Healthy Food Two Start-->
        <section class="health-food-two">
            <div class="health-food-two__shape-2 zoom-fade">
                <img src="/images/shapes/healthy-food-two-shape-2.png" alt="">
            </div>
            <div class="health-food-two__inner">
                <div class="healthy-food-two__bg-color"></div>
                <div class="health-food-two__shape-1 zoom-fade">
                    <img src="/images/shapes/healthy-food-two-shape-1.png" alt="">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <div class="healthy-food-two__left">
                                <div class="section-title text-left">
                                    <span class="section-title__tagline">Натурални продукти</span>
                                    <h2 class="section-title__title">Свежа храна директно от фермерите</h2>
                                    <div class="section-title__icon">
                                        <img src="/images/icon/section-title-icon-1.png" alt="">
                                    </div>
                                </div>
                                <p class="healthy-food-two__left-text">
                                    Подбираме най-доброто от българските производители – без посредници, без компромиси.
                                </p>
                                <ul class="healthy-food-two__points list-unstyled">
                                    <li class="healthy-food-two__points-list">
                                        <div class="healthy-food-two__points-icon">
                                            <span class="icon-tick"></span>
                                        </div>
                                        <div class="healthy-food-two__points-text">
                                            <p>Директна връзка с производителите</p>
                                        </div>
                                    </li>
                                    <li class="healthy-food-two__points-list">
                                        <div class="healthy-food-two__points-icon">
                                            <span class="icon-tick"></span>
                                        </div>
                                        <div class="healthy-food-two__points-text">
                                            <p>Натурални и сезонни продукти</p>
                                        </div>
                                    </li>
                                    <li class="healthy-food-two__points-list">
                                        <div class="healthy-food-two__points-icon">
                                            <span class="icon-tick"></span>
                                        </div>
                                        <div class="healthy-food-two__points-text">
                                            <p>Подкрепа за локалните земеделци</p>
                                        </div>
                                    </li>
                                    <li class="healthy-food-two__points-list">
                                        <div class="healthy-food-two__points-icon">
                                            <span class="icon-tick"></span>
                                        </div>
                                        <div class="healthy-food-two__points-text">
                                            <p>Гарантирано качество и свежест</p>
                                        </div>
                                    </li>
                                </ul>
                                <a th:href="@{/products}" class="thm-btn healthy-food-two__btn">Разгледай продуктите <i
                                        class="icon-right-arrow"></i> </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="healthy-food-two__right wow slideInRight" data-wow-delay="100ms"
                                 data-wow-duration="2500ms">
                                <div class="health-food-two__shape-3 zoom-fade">
                                    <img src="/images/shapes/healthy-food-two-shape-3.png" alt="">
                                </div>
                                <div class="health-food-two__shape-4 float-bob-x">
                                    <img src="/images/shapes/healthy-food-two-shape-4.png" alt="">
                                </div>
                                <div class="healthy-food-two__img-box">
                                    <div class="healthy-food-two__shape-one"></div>
                                    <div class="healthy-food-two__organic-img">
                                        <img src="/images/shapes/healthy-food-two-shape-6.png" alt="">
                                    </div>
                                    <div class="healthy-food-two__img">
                                        <img src="/images/productFrame.png" alt="">
                                    </div>
                                    <div class="healthy-food-two__content">
                                        <div class="healthy-food-two__content-img">
                                            <img src="/images/shapes/healthy-food-two-shape-5.png" alt="">
                                        </div>
                                        <h3 class="healthy-food-two__title">Здравословно</h3>
                                        <p class="healthy-food-two__subtitle">Сезонно и свежо</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Healthy Food Two End-->



        <!--Services One Start-->
        <section class="services-one">
            <div class="services-one__bg" style="background-image: url(/images/shapes/services-one-shape-1.png);">
            </div>
            <div class="container">
                <div class="section-title text-center">
                    <span class="section-title__tagline">Какво предлагаме</span>
                    <h2 class="section-title__title">Фермерски услуги в AgroDirect</h2>
                    <div class="section-title__icon">
                        <img src="/images/icon/section-title-icon-1.png" alt="">
                    </div>

                    <div class="unbeatable-one__content">
                        <div class="unbeatable-one__btn-box">
                            <a th:href="@{/services}" class="thm-btn unbeatable-one__btn">Виж всички услуги <i
                                    class="icon-right-arrow"></i> </a>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!--Services One End-->

        <!--Healthy Food One Start-->
        <section class="healthy-food-one">
            <div class="healthy-food-one__bg float-bob-x"
                 style="background-image: url(/images/shapes/healthy-food-one-shape-1.png);"></div>
            <div class="container">
                <div class="row">
                    <!-- Image -->
                    <div class="col-xl-6">
                        <div class="healthy-food-one__left">
                            <div class="healthy-food-one__img">
                                <img src="/images/Organic-Agriculture.jpg" alt="AgroDirect Natural Food">
                            </div>
                        </div>
                    </div>

                    <!-- Text -->
                    <div class="col-xl-6">
                        <div class="healthy-food-one__right">
                            <div class="section-title text-left">
                                <span class="section-title__tagline">100% Натурални продукти</span>
                                <h2 class="section-title__title">Здравословна храна директно от фермата</h2>
                                <div class="section-title__icon">
                                    <img src="/images/icon/section-title-icon-1.png" alt="">
                                </div>
                            </div>
                            <p class="healthy-food-one__text">
                                AgroDirect свързва клиентите с производители – за истински свежи и качествени продукти, без
                                посредници. Подкрепяш местното производство и избираш най-доброто за семейството си.
                            </p>
                            <ul class="list-unstyled healthy-food-one__list">
                                <li class="healthy-food-one__single">
                                    <div class="healthy-food-one__content">
                                        <div class="healthy-food-one__icon">
                                            <span class="icon-harvester"></span>
                                        </div>
                                        <p class="healthy-food-one__title">Сезонна реколта</p>
                                    </div>
                                </li>
                                <li class="healthy-food-one__single">
                                    <div class="healthy-food-one__content">
                                        <div class="healthy-food-one__icon">
                                            <span class="icon-agriculture-1"></span>
                                        </div>
                                        <p class="healthy-food-one__title">Подкрепа за фермери</p>
                                    </div>
                                </li>
                                <li class="healthy-food-one__single">
                                    <div class="healthy-food-one__content">
                                        <div class="healthy-food-one__icon">
                                            <span class="icon-harvest-1"></span>
                                        </div>
                                        <p class="healthy-food-one__title">Естествено отглеждане</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Healthy Food One End-->

        <!--Cta One Start-->
        <section class="cta-one">
            <div class="cta-one__bg" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
                 style="background-image: url(/images/agri.jpg);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="cta-one__inner">
                            <div class="cta-one__left">
                                <div class="cta-one__icon">
                                    <span class="icon-agriculture-2"></span>
                                </div>
                                <h3 class="cta-one__title">
                                    Свържи се директно с български производители <br> и избери здравословни продукти
                                </h3>
                            </div>
                            <div class="cta-one__right">
                                <a th:href="@{/farmers}" class="thm-btn cta-one__btn">Разгледай<i
                                        class="icon-right-arrow"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Cta One End-->


        <!--Site Footer Start-->
        <div th:replace="~{fragments/footer :: footer}"></div>


        <!--Site Footer End-->


    </div><!-- /.page-wrapper -->


    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="index.html" aria-label="logo image"><img src="/images/resources/logo-2.png" width="122"
                        alt="" /></a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:needhelp@packageName__.com">needhelp@agrion.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:666-888-0000">666 888 0000</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-facebook-square"></a>
                    <a href="#" class="fab fa-pinterest-p"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="icon-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->



    <script src="/vendors/jquery/jquery-3.6.0.min.js"></script>
    <script src="/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendors/jarallax/jarallax.min.js"></script>
    <script src="/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
    <script src="/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="/vendors/nouislider/nouislider.min.js"></script>
    <script src="/vendors/odometer/odometer.min.js"></script>
    <script src="/vendors/swiper/swiper.min.js"></script>
    <script src="/vendors/tiny-slider/tiny-slider.min.js"></script>
    <script src="/vendors/wnumb/wNumb.min.js"></script>
    <script src="/vendors/wow/wow.js"></script>
    <script src="/vendors/isotope/isotope.js"></script>
    <script src="/vendors/countdown/countdown.min.js"></script>
    <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/vendors/bxslider/jquery.bxslider.min.js"></script>
    <script src="/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="/vendors/vegas/vegas.min.js"></script>
    <script src="/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="/vendors/timepicker/timePicker.js"></script>
    <script src="/vendors/circleType/jquery.circleType.js"></script>
    <script src="/vendors/circleType/jquery.lettering.min.js"></script>




    <!-- template js -->
    <script src="/js/agrion.js"></script>
</body>

</html>