<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Детайли за фермера | AgroDirect</title>

    <th:block th:replace="fragments/head-links :: headLinks"></th:block>
    <link rel="stylesheet" href="/vendors/fontawesome/css/all.min.css" />
</head>

<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>





    <div class="preloader">
        <div class="preloader__image"></div>
    </div>
    <!-- /.preloader -->


    <div class="page-wrapper">
        <div th:replace="~{fragments/header :: siteHeader}"></div>

        <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->

        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header-bg" style="background-image: url(/images/agri.jpg)">
            </div>
            <div class="container">
                <div class="page-header__inner">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a th:href="@{/}">Начало</a></li>
                        <li><span>/</span></li>
                        <li><a th:href="@{/farmers}">Фермери</a></li>
                    </ul>
                    <h2>Детайли за фермер</h2>
                </div>
            </div>
        </section>
        <!--Page Header End-->

        <!--Project Details Start-->
        <section class="project-details">
            <div class="container">

                <div class="row">
                    <div class="col-xl-12">
                        <div class="project-details__top">
                            <div class="project-details__img">
                                <!-- Динамично зареждаме снимката на фермера -->
                                <img th:src="@{${farmerProfileDetailsViewDTO.profileImageUrl}}"  alt="Фермер">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="project-details__content">
                    <div class="row">

                        <div class="col-xl-8 col-lg-8">
                        <div class="project-details__content-left">
                            <h3 class="project-details__title-1">Информация за фермера</h3>

                            <div class="project-details__details-box">
                                <div class="project-details__bg-shape"
                                     style="background-image: url(/images/shapes/project-details-shape-1.png);">
                                </div>
                                <ul class="list-unstyled project-details__details-list">
                                    <li>
                                        <p class="project-details__client">Име на фермер</p>
                                        <h4 class="project-details__name" th:text="${farmerProfileDetailsViewDTO.firstName} + ' ' + ${farmerProfileDetailsViewDTO.lastName}"></h4>
                                    </li>
                                    <li>
                                        <p class="project-details__client">Локация</p>
                                        <h4 class="project-details__name" th:text="${farmerProfileDetailsViewDTO.location}"></h4>
                                    </li>
                                    <li>
                                        <p class="project-details__client">Допълнителна информация</p>
                                        <h4 class="project-details__name" th:text="${farmerProfileDetailsViewDTO.bio}"></h4>
                                    </li>

                                    <li>
                                        <div class="project-details__social">
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-facebook"></i></a>
                                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                        <div class="col-xl-4 col-lg-4">
                            <div class="project-details__content-right">
                                <div class="project-details__quote">
                                    <h3 class="project-details__quote-title">Изпрати съобщение до фермера</h3>

<!--                                    <div th:if="${successMessage}" class="custom-success-message">-->
<!--                                        <span th:text="${successMessage}">Съобщението беше изпратено успешно!</span>-->
<!--                                    </div>-->

                                    <!-- Формата за контакт -->
                                    <form th:action="@{'/farmers/' + ${farmerProfileDetailsViewDTO.id} + '/contact'}" method="post"
                                          class="comment-one__form contact-form-validated" novalidate="novalidate">

                                        <div class="project-details__input-box">
                                            <input type="text" name="name" placeholder="Вашето име" required>
                                        </div>
                                        <div class="project-details__input-box">
                                            <input type="email" name="email" placeholder="Вашият имейл" required>
                                        </div>
                                        <div class="project-details__input-box text-message-box">
                                            <textarea name="message" placeholder="Вашето съобщение" required></textarea>
                                        </div>
                                        <div class="project-details__btn-box">
                                            <button type="submit" class="thm-btn project-details__btn">Изпрати съобщение <i class="icon-right-arrow"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>
        <!--Project Details End-->

        <!--Smilar Project Start-->
        <section class="Smilar-project">
            <div class="container">
                <div class="section-title text-center">
<!--                    <span class="section-title__tagline">Our Latest Projects</span>-->
                    <h2 class="section-title__title">Моите продукти</h2>
                    <div class="section-title__icon">
                        <img src="/images/icon/section-title-icon-1.png" alt="">
                    </div>
                </div>

                <div class="row">


                    <div th:each="product : ${products}" class="col-xl-3 col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="100ms">
                        <div class="project-one__single">
                            <div class="project-one__inner">
                                <div class="project-one__img">
                                    <!-- Извеждаме изображението на продукта -->
                                    <img th:src="@{${product.imageUrl}}" alt="Product Image">
                                </div>
                                <div class="project-one__arrow">
                                    <!-- Линк към детайлите за продукта -->
                                    <a th:href="@{/product/{id}(id=${product.id})}" class="icon-right-arrow"></a>
                                </div>
                                <div class="project-one__content">
                                    <!--                                <span class="project-one__tagline" th:text="${product.category}">organic</span>-->
                                    <h3 class="project-one__title">
                                        <a th:href="@{/product/{id}(id=${product.id})}" th:text="${product.name}"></a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </section>
        <!--Smilar Project End-->

        <!--Site Footer Start-->
        <div th:replace="~{fragments/footer :: footer}"></div>
        <!--Site Footer End-->


    </div><!-- /.page-wrapper -->


    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="index.html" aria-label="logo image"><img src="/images/resources/logo-2.png" width="122"
                        alt="" /></a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:needhelp@packageName__.com">needhelp@agrion.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:666-888-0000">666 888 0000</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-facebook-square"></a>
                    <a href="#" class="fab fa-pinterest-p"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="icon-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->



    <script src="/vendors/jquery/jquery-3.6.0.min.js"></script>
    <script src="/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendors/jarallax/jarallax.min.js"></script>
    <script src="/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
    <script src="/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="/vendors/nouislider/nouislider.min.js"></script>
    <script src="/vendors/odometer/odometer.min.js"></script>
    <script src="/vendors/swiper/swiper.min.js"></script>
    <script src="/vendors/tiny-slider/tiny-slider.min.js"></script>
    <script src="/vendors/wnumb/wNumb.min.js"></script>
    <script src="/vendors/wow/wow.js"></script>
    <script src="/vendors/isotope/isotope.js"></script>
    <script src="/vendors/countdown/countdown.min.js"></script>
    <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/vendors/bxslider/jquery.bxslider.min.js"></script>
    <script src="/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="/vendors/vegas/vegas.min.js"></script>
    <script src="/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="/vendors/timepicker/timePicker.js"></script>
    <script src="/vendors/circleType/jquery.circleType.js"></script>
    <script src="/vendors/circleType/jquery.lettering.min.js"></script>




    <!-- template js -->
    <script src="/js/agrion.js"></script>
</body>

</html>