<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Детайли за услуга | AgroDirect</title>
    <th:block th:replace="fragments/head-links :: headLinks"></th:block>
    <link rel="stylesheet" href="/vendors/fontawesome/css/all.min.css" />
</head>

<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>





    <div class="preloader">
        <div class="preloader__image"></div>
    </div>
    <!-- /.preloader -->


    <div class="page-wrapper">
        <div th:replace="~{fragments/header :: siteHeader}"></div>

        <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->

        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header-bg" style="background-image: url(/images/agri.jpg)">
            </div>
            <div class="container">
                <div class="page-header__inner">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a th:href="@{/}">Начало</a></li>
                        <li><span>/</span></li>
                        <li><a th:href="@{/services}">Услуги</a></li>
                    </ul>
                    <h2>Детайли за услуга</h2>
                </div>
            </div>
        </section>
        <!--Page Header End-->

        <!--Services Details Start-->
        <div class="services-details">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-5">
                        <div class="services-details__left">

                            <div class="services-details__need-help mt-5">

                                <h3 class="services-details__need-help-title">
                                    Свържи се с <br> фермера <br> директно
                                </h3>
                                <div class="services-details__need-help-icon">
                                    <span class="icon-phone-ringing"></span>
                                </div>
                                <div class="services-details__need-help-contact">
                                    <p>Имате въпроси? Потърсете ни на:</p>
                                    <a th:href="'tel:' + ${service.phoneNumber}" th:text="${service.phoneNumber}">+359...</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7">
                        <div class="services-details__right">

                            <div class="services-details__content-box">
                                <div class="services-details__img mb-4">
                                    <img th:src="@{${service.imageUrl}}" alt="Услуга" class="img-fluid w-100" />
                                    <div class="services-details__img-icon">
                                        <span class="icon-organic-food"></span>
                                    </div>
                                </div>
                                <h3 class="services-details__title" th:text="${service.title}">Заглавие</h3>
                                <p class="services-details__text-1" th:text="${service.description}">Описание</p>
<!--                                <p class="services-details__text-2"><strong>Категория:</strong> <span th:text="${service.category.displayName}"></span></p>-->
<!--                                <p class="services-details__text-2"><strong>Фермер:</strong> <span th:text="${service.farmerName}"></span></p>-->
                            </div>

                            <!-- Защо да изберете секция -->
                            <div class="service-details__choose mt-5">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="service-details__choose-img">
                                            <img src="/images/agri.jpg" alt="Ползи" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="service-details__choose-content">
                                            <h4 class="service-details__choose-title">Защо да изберете тази услуга?</h4>
                                            <p class="service-details__choose-text">Доверете се на фермери с опит и личен подход.</p>
<!--                                            <ul class="list-unstyled service-details__choose-points">-->
<!--                                                <li><i class="icon-tick"></i> Надеждност и качество</li>-->
<!--                                                <li><i class="icon-tick"></i> Директен контакт с фермера</li>-->
<!--                                                <li><i class="icon-tick"></i> Подкрепа за местното земеделие</li>-->
<!--                                            </ul>-->
                                            <ul class="list-unstyled service-details__choose-points">
                                                <li>
                                                    <div class="icon">
                                                        <i class="icon-tick"></i>
                                                    </div>
                                                    <div class="text">
                                                        <p>Надеждност и качество</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="icon">
                                                        <i class="icon-tick"></i>
                                                    </div>
                                                    <div class="text">
                                                        <p>Директен контакт с фермера</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="icon">
                                                        <i class="icon-tick"></i>
                                                    </div>
                                                    <div class="text">
                                                        <p>Подкрепа за местното земеделие</p>
                                                    </div>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Често задавани въпроси -->
                            <div class="service-details__faq mt-5">
                                <div class="accrodion-grp" data-grp-name="faq-one-accrodion">
                                    <div class="accrodion active">
                                        <div class="accrodion-title"><h4>Как да се свържа с фермера?</h4></div>
                                        <div class="accrodion-content"><div class="inner"><p>Може да използвате телефонния номер, посочен по-горе.</p></div></div>
                                    </div>
                                    <div class="accrodion">
                                        <div class="accrodion-title"><h4>Услугата налична ли е целогодишно?</h4></div>
                                        <div class="accrodion-content"><div class="inner"><p>Зависи от сезона – свържете се с фермера за повече информация.</p></div></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Services Details End-->

        <!--Site Footer Start-->
        <div th:replace="~{fragments/footer :: footer}"></div>
        <!--Site Footer End-->


    </div><!-- /.page-wrapper -->


    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="index.html" aria-label="logo image"><img src="/images/resources/logo-2.png" width="122"
                        alt="" /></a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:needhelp@packageName__.com">needhelp@agrion.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:666-888-0000">666 888 0000</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-facebook-square"></a>
                    <a href="#" class="fab fa-pinterest-p"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="icon-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->



    <script src="/vendors/jquery/jquery-3.6.0.min.js"></script>
    <script src="/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendors/jarallax/jarallax.min.js"></script>
    <script src="/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
    <script src="/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="/vendors/nouislider/nouislider.min.js"></script>
    <script src="/vendors/odometer/odometer.min.js"></script>
    <script src="/vendors/swiper/swiper.min.js"></script>
    <script src="/vendors/tiny-slider/tiny-slider.min.js"></script>
    <script src="/vendors/wnumb/wNumb.min.js"></script>
    <script src="/vendors/wow/wow.js"></script>
    <script src="/vendors/isotope/isotope.js"></script>
    <script src="/vendors/countdown/countdown.min.js"></script>
    <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/vendors/bxslider/jquery.bxslider.min.js"></script>
    <script src="/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="/vendors/vegas/vegas.min.js"></script>
    <script src="/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="/vendors/timepicker/timePicker.js"></script>
    <script src="/vendors/circleType/jquery.circleType.js"></script>
    <script src="/vendors/circleType/jquery.lettering.min.js"></script>




    <!-- template js -->
    <script src="/js/agrion.js"></script>
</body>

</html>